
body {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  background: linear-gradient(#49e13289, #e591d7) no-repeat fixed;
}

input {
 width: 100%;
 padding: 10px;
 border-radius: 10px;
 background-color: rgba(255, 255, 255, 0.212);
 border: none;
 z-index: 1;
 position: relative;
}

input:focus{
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
}

.search-container {
  height: 100%;
  width: 50%;
  margin-top: 20vw;
}

.search-container .suggestions {
  height: 15vw;
  width: 100%;
  overflow-y: auto;
  background-color: rgba(128, 128, 128, 0.119);
  filter: drop-shadow(16px 16px 10px black);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -15px;
  opacity: 1;
  transition: opacity .25s ease-in;

}

.invisible {
  transition: opacity .25s ease-in;
  opacity: 0!important;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

ul li:hover {
  background-color: rgba(0, 0, 255, 0.119);
}

::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}